@import "../../styles/variables";
@import "../../styles/mixins";

.root {
  background: $grey-300;
  border-top: 1px solid $grey-800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  height: 72px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: $spacing-1;
  font-size: .875rem;
  color: $grey-800;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 64px;
  border-radius: 0;
  border-right: 1px solid gray;

  svg {
    width: 20px;
    height: 20px;
  }
}

.item:last-child {
  border-right: none;
} 